@model Octapull.MVC.Models.MeetingViewModel

<h2 class="mb-4">Add a New Meeting</h2>

<form asp-action="CreateMeeting" asp-controller="Meeting" method="post" enctype="multipart/form-data" class="needs-validation col-5" novalidate>

    <div class="form-group">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" required>
        <div class="invalid-feedback">Name is required.</div>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="form-label">StartDate</label>
        <input type="date" asp-for="StartDate" class="form-control" rows="5" required></input>
        <div class="invalid-feedback">StartDate are required.</div>
    </div>

    <div class="form-group">
        <label asp-for="EndDate" class="form-label">EndDate</label>
        <input type="date" asp-for="EndDate" class="form-control" required>
        <div class="invalid-feedback">EndDate is required.</div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="5" required></textarea>
        <div class="invalid-feedback">Description is required.</div>
    </div>

    <div class="form-group">
        <label asp-for="Document" class="form-label">Document</label>
        <input type="text" name="Document" class="form-control">
        <div class="invalid-feedback">Document is required.</div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Add Meeting</button>
</form>
